worka-uk.online {
	encode zstd gzip

	header {
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Frame-Options "DENY"
	}

	handle /api/* {
		reverse_proxy api:8080
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}

www.worka-uk.online {
	redir https://worka-uk.online{uri} permanent
}

api.worka-uk.online {
	encode zstd gzip

	header {
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
	}

	reverse_proxy api:8080
}
